<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ../partials/header.ejs%>
    <script src="/notif-doctor.js"></script>
    <title>Bed Management</title>
  </head>
  <body>
    <nav>
      <a href="../doctor/dashboard">dashboard</a><br>
      <a href="../doctor/bedManagement">bedManagement</a><br>
      <a href="../doctor/patientManagement">patientManagement</a><br>
      <a href="../doctor/outpatientManagement">outpatientManagement</a><br>
      <a href="../doctor/appointmentManagement">appointmentManagement</a><br>
      <a href="../doctor/prescriptionManagement">prescriptionManagement</a><br>
      <a href="../doctor/labRequestManagement">labRequestManagement</a><br>
      <a href="../doctor/profileManagement">profile</a>
    </nav>
    <table>
      <tr>
        <th>Bed Number</th>
        <th>patient Type</th>
        <th>Patient Name</th>
        <th>Status</th>
        <th>Confinement Date</th>
        <th>Actions</th>
      </tr>

      <%for(var i=0; i < bedDetails.length; i++){%>
      <tralign="center">
        <td><%= bedDetails[i].bed_id%></td>
        <td><%= bedDetails[i].patient_type%></td>
        <td><%= bedDetails[i].name%></td>
        <td><%= bedDetails[i].status%></td>
        <%
        var DT = moment(bedDetails[i].allotment_timestamp).format('YYYY-MM-DD HH:mm:ss');
        if(DT == 'Invalid date'){%>
          <td></td>
        <%} else {%>
          <td><%= DT%></td>
        <%}%>

        <%if(bedDetails[i].name){%>
        <form action="/doctor/bedManagement?bed=<%= bedDetails[i].bed_id%>" method="POST">
          <td><button>discharge</button></td>
        </form>
        <%}%>
      </tr>
      <%}%>
    </table>
  </body>
</html>
<script>
</script>
