<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ../partials/header.ejs%>
    <script src="/notif-doctor.js"></script>

    <title>Outpatient Department</title>
    <style media="screen">
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="../doctor/dashboard">dashboard</a><br>
      <a href="../doctor/bedManagement">bedManagement</a><br>
      <a href="../doctor/patientManagement">patientManagement</a><br>
      <a href="../doctor/outpatientManagement">outpatientManagement</a><br>
      <a href="../doctor/appointmentManagement">appointmentManagement</a><br>
      <a href="../doctor/prescriptionManagement">prescriptionManagement</a><br>
      <a href="../doctor/labRequestManagement">labRequestManagement</a><br>
      <a href="../doctor/profileManagement">profile</a>
    </nav>
    <h1>OPD</h1>
    <table>
      <tr>
        <th>patient type</th>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
        <th>Vital Signs</th>
        <th>initial Assessment</th>
        <th>action</th>
        <th>status</th>
      </tr>
      <%for (var i = 0; i < opdInfo.length; i++) {%>
        <tr>
            <td><%=opdInfo[i].patient_type%></td>
            <td><%=opdInfo[i].name%></td>
            <td><%=opdInfo[i].age%></td>
            <td><%=opdInfo[i].sex%></td>
            <td style="font-size:10px;">
              <%
                var vitals = opdInfo[i].vitals.split('\n');
                for(var l=0; l < 7; l++){ %>
                  <%=vitals[l]%><br>
              <%}%>
            </td>
            <td><%=opdInfo[i].initial_assessment%></td>

            <td>
              <!-- VIEW -->
              <a href="../doctor/patientManagement?patient=<%=opdInfo[i].patient_id%>"><button name="view">view</button></a>
              <!-- LAB -->
              <%
              var labArr= '';
                for (var j = 0; j < labSQL.length; j++){
                  labArr += labSQL[j].patient_id;
                }
              if(labArr.includes(opdInfo[i].patient_id)){%>
                  <input type="button" name="lab_request" style="color:blue" value="Lab Request" onclick="ShowLabRequest2(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>,<%=opdInfo[i].histo_id%>)">
              <%} else {%>
                  <input type="button" name="lab_request" value="Lab Request" onclick="ShowLabRequest(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>,<%=opdInfo[i].histo_id%>)">
              <%}%>
              <!-- PRESCRIPTION -->
              <%
              var prescribeArr= '';
                for (var j = 0; j < prescribeSQL.length; j++){
                  prescribeArr += prescribeSQL[j].patient_id;
                }
              if(prescribeArr.includes(opdInfo[i].patient_id)){%>
                <input type="button" name="prescribe" style="color:blue" value="Prescription" onclick="ShowPrescribe2(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>,<%=opdInfo[i].histo_id%>)">
              <%} else {%>
                <input type="button" name="prescribe" value="Prescription" onclick="ShowPrescribe(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>,<%=opdInfo[i].histo_id%>)">
              <%}%>
              <!-- DIAGNOSIS -->
              <button name="button" onclick="ShowDiagnosis(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>,<%=opdInfo[i].histo_id%>,<%=JSON.stringify(opdInfo[i].diagnosis)%>)" >
                <%if(opdInfo[i].diagnosis){%>
                  add diagnosis
                <%} else {%>
                diagnosis
                <%}%>
              </button>
              <!-- ADMIT -->
              <input type="button" name="admit" value="admit" onclick="ShowAdmit(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>,<%=opdInfo[i].histo_id%>)">
              <!-- LAB REQUEST TABLE VIEW -->

            </td>
            <form action="/doctor/outpatientManagement?id=<%= opdInfo[i].histo_id%>" method="post">
              <td><button type="submit" name="sub" value="confirm">confirm</button></td>
            </form>
        </tr>
      <%}%>
    </table>
    <!-- ER -->
    <h1>ER</h1>
    <table>
      <tr>
        <th>patient type</th>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
        <th>Vital Signs</th>
        <th>initial Assessment</th>
        <th>bed</th>
        <th>action</th>
        <th>status</th>
      </tr>
      <%for (var i = 0; i < opdInfo2.length; i++) {%>
        <tr>
            <td><%=opdInfo2[i].patient_type%></td>
            <td><%=opdInfo2[i].name%></td>
            <td><%=opdInfo2[i].age%></td>
            <td><%=opdInfo2[i].sex%></td>
            <td style="font-size:10px;">
              <%
                var vitals = opdInfo2[i].vitals.split('\n');
                for(var l=0; l < 7; l++){ %>
                  <%=vitals[l]%><br>
              <%}%>
            </td>
            <td><%=opdInfo2[i].initial_assessment%></td>
            <td><%= opdInfo2[i].bed_id%><%if(opdInfo2[i].bed_id){%><a href="/doctor/bedManagement?bed_id=<%=opdInfo2[i].bed_id%>" style="font-size:10px;">-details</a><%}%></td>
            <td>
              <!-- VIEW -->
              <a href="../doctor/patientManagement?patient=<%=opdInfo2[i].patient_id%>"><button name="view">view</button></a>
              <!-- LAB -->
              <%
              var labArr= '';
                for (var j = 0; j < labSQL.length; j++){
                  labArr += labSQL[j].patient_id;
                }
              if(labArr.includes(opdInfo2[i].patient_id)){%>
                  <input type="button" name="lab_request" style="color:blue" value="Lab Request" onclick="ShowLabRequest2(<%=opdInfo2[i].patient_id%>,<%=JSON.stringify(opdInfo2[i].name)%>,<%=opdInfo2[i].histo_id%>)">
              <%} else {%>
                  <input type="button" name="lab_request" value="Lab Request" onclick="ShowLabRequest(<%=opdInfo2[i].patient_id%>,<%=JSON.stringify(opdInfo2[i].name)%>,<%=opdInfo2[i].histo_id%>)">
              <%}%>
              <!-- PRESCRIPTION -->
              <%
              var prescribeArr= '';
                for (var j = 0; j < prescribeSQL.length; j++){
                  prescribeArr += prescribeSQL[j].patient_id;
                }
              if(prescribeArr.includes(opdInfo2[i].patient_id)){%>
                <input type="button" name="prescribe" style="color:blue" value="Prescription" onclick="ShowPrescribe2(<%=opdInfo2[i].patient_id%>,<%=JSON.stringify(opdInfo2[i].name)%>,<%=opdInfo2[i].histo_id%>)">
              <%} else {%>
                <input type="button" name="prescribe" value="Prescription" onclick="ShowPrescribe(<%=opdInfo2[i].patient_id%>,<%=JSON.stringify(opdInfo2[i].name)%>,<%=opdInfo2[i].histo_id%>)">
              <%}%>
              <!-- DIAGNOSIS -->
              <button name="button" onclick="ShowDiagnosis(<%=opdInfo2[i].patient_id%>,<%=JSON.stringify(opdInfo2[i].name)%>,<%=opdInfo2[i].histo_id%>,<%=JSON.stringify(opdInfo2[i].diagnosis)%>)" >
                <%if(opdInfo2[i].diagnosis){%>
                  add diagnosis
                <%} else {%>
                diagnosis
                <%}%>
              </button>
              <!-- ADMIT -->
              <%if(!opdInfo2[i].bed_id){%>
              <input type="button" name="admit" value="admit" onclick="ShowAdmit(<%=opdInfo2[i].patient_id%>,<%=JSON.stringify(opdInfo2[i].name)%>,<%=opdInfo2[i].histo_id%>)">
              <%}%>
              <!-- LAB REQUEST TABLE VIEW -->
            </td>
            <form action="/doctor/outpatientManagement?id=<%= opdInfo2[i].histo_id%>" method="post">
              <td><button type="submit" name="sub" value="confirm">confirm</button></td>
            </form>
        </tr>
      <%}%>
    </table>

    <!-- CONFIRMED -->
    <h1>CONFIRMED</h1>
    <table>
      <tr>
        <th>patient type</th>
        <th>name</th>
        <th>age</th>
        <th>gender</th>
        <th>Vital Signs</th>
        <th>initial Assessment</th>
        <th>status</th>
      </tr>
      <%for (var i = 0; i < opdInfo1.length; i++) {%>
        <tr>
            <td><%=opdInfo1[i].patient_type%></td>
            <td><%=opdInfo1[i].name%></td>
            <td><%=opdInfo1[i].age%></td>
            <td><%=opdInfo1[i].sex%></td>
            <td style="font-size:10px;">
              <%
                var vitals = opdInfo1[i].vitals.split('\n');
                for(var l=0; l < 7; l++){ %>
                  <%=vitals[l]%><br>
              <%}%>
            </td>
            <td><%=opdInfo1[i].initial_assessment%></td>
            <td>confirmed</td>
            <%}%>
    </table>


    <div id="ShowLabRequest" style="display:none;">
      <form id="dynamicPatientIdForLab" method="post">
        <select name="testRequest">
          <option value="bloodChemistry">bloodChemistry</option>
          <option value="hermatology">Hematology</option>
          <option value="microscopy">Microscopy</option>
          <option value="parasitology">parasitology</option>
          <option value="serotology">serotology</option>
          <option value="microbiology">microbiology</option>
          <option value="xRay">xRay</option>
        </select>
        <button type="submit" name="sub" value="labRequest">send</button>
        <br>
        <textarea name="labRequestremarks" rows="8" cols="80"></textarea>
      </form>
    </div>
    <!-- ADMIT  -->
    <div id="ShowAdmit" style="display:none;">
      <form id="dynamicPatientIdForAdmit" method="post">
        available Beds:
        <select name="bedNumber">
          <%for (var i = 0; i < admitAvailableBeds.length; i++) { %>
            <option value="<%= admitAvailableBeds[i].bed_id%>"><%= admitAvailableBeds[i].bed_id%></option>
          <%}%>
        </select>
        <button type="submit" name="sub" value="admit">alot</button>
      </form>
    </div>
    <!-- PRESCRIBE -->
    <div id="ShowPrescribe" style="display:none;">
      <form id="dynamicPatientIdForPrescribe" method="post">
        <input type="text" name="medicine">medicine <br>
        <input type="number" name="quantity">quantity <br>
        <input type="text" name="dosage">dosage <br>
        <input type="text" name="timeframe">timeframe <br>
        <button type="submit" name="sub" value="prescribe">send</button>
      </form>
    </div>

    <div id="ShowLabRequest2" style="display:none;">
        <a id="linkForLabView"><button id="labViewPressed">view</button></a>
        <button id="labAdd">add</button>
    </div>

    <div id="ShowPrescribe2" style="display:none;">
        <a id="linkForPrescribeView"><button id="prescribeViewPressed">view</button></a>
        <button id="prescribeAdd">add</button>
    </div>

    <div id="ShowDiagnosis" style="display:none;">
      <textarea id="prevDiag" readonly></textarea>
      <form id="linkDiagnosis" method="post">
        <textarea name="diagnosis" rows="8" cols="80"></textarea>
        <button type="submit" name="sub" value="diag">add</button>
        <button type="submit" name="sub" value="clear">clear</button>
      </form>
    </div>

  </body>
</html>

<script>
  function ShowLabRequest(i,o,u){
    document.getElementById('dynamicPatientIdForLab').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'&histo_id='+u+'';
    document.getElementById('ShowLabRequest').style.display = 'block';
  }
  function ShowLabRequest2(i,o,u){
    document.getElementById('labAdd').onclick = function() {
      document.getElementById('ShowLabRequest').style.display = 'block';
      document.getElementById('ShowLabRequest2').style.display = 'none';
      ShowLabRequest(i,o,u);
    };
    document.getElementById('labViewPressed').onclick = function() {
      document.getElementById('linkForLabView').href = "/doctor/labRequestManagement?labPatientInfo="+i+"";
    };
    document.getElementById('ShowLabRequest2').style.display = 'block';
    document.getElementById('ShowLabRequest').style.display = 'none';
  }

  function ShowPrescribe(i,o,u){
    document.getElementById('dynamicPatientIdForPrescribe').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'&histo_id='+u+'';
    document.getElementById('ShowPrescribe').style.display = 'block';
  }
  function ShowPrescribe2(i,o,u){
    document.getElementById('prescribeAdd').onclick = function() {
      document.getElementById('ShowPrescribe').style.display = 'block';
      document.getElementById('ShowPrescribe2').style.display = 'none';
      ShowPrescribe(i,o,u);
    };
    document.getElementById('prescribeViewPressed').onclick = function() {
      document.getElementById('linkForPrescribeView').href = "/doctor/prescriptionManagement?opdPatient="+i+"";
    };
    document.getElementById('ShowPrescribe2').style.display = 'block';
    document.getElementById('ShowPrescribe').style.display = 'none';
  }

  function ShowAdmit(i,o,u){
    document.getElementById('dynamicPatientIdForAdmit').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'&histo_id='+u+'';
    document.getElementById('ShowAdmit').style.display = 'block';
  }

  function ShowDiagnosis(i,o,u,a){
    document.getElementById('ShowDiagnosis').style.display = 'block';
    document.getElementById('linkDiagnosis').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'&histo_id='+u+'';
    document.getElementById('prevDiag').innerHTML = a;
  }

</script>
