<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ../partials/header.ejs%>
    <script src="/notif-doctor.js"></script>

    <title>Prescription Management</title>
    <style media="screen">
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="../doctor/dashboard">dashboard</a><br>
      <a href="../doctor/bedManagement">bedManagement</a><br>
      <a href="../doctor/patientManagement">patientManagement</a><br>
      <a href="../doctor/outpatientManagement">outpatientManagement</a><br>
      <a href="../doctor/appointmentManagement">appointmentManagement</a><br>
      <a href="../doctor/prescriptionManagement">prescriptionManagement</a><br>
      <a href="../doctor/labRequestManagement">labRequestManagement</a><br>
      <a href="../doctor/profileManagement">profile</a>
    </nav>
    <%if(opdPatientInfo){%>
      <h1><%= opdPatientInfo%></h1>
    <%}%>
    <table>
      <tr>
        <th>counter</th>
        <th>date</th>
        <th>Patient Type</th>
        <th>Name</th>
        <th>Age</th>
        <th>Medications</th>
        <th>Status</th>
        <th>action</th>
      </tr>
      <%for (var i = 0; i < prescriptionDetails.length; i++) {%>
        <tr>
          <td><%=i+1%></td>
          <td><%=prescriptionDetails[i].creation_stamp%></td>
          <td><%=prescriptionDetails[i].patient_type%></td>
          <td><%=prescriptionDetails[i].name%></td>
          <td><%=prescriptionDetails[i].age%></td>
          <td><%=prescriptionDetails[i].medications%></td>
          <td><%=prescriptionDetails[i].STATUS%></td>
          <form action="/doctor/prescriptionManagement?prescriptionId=<%=prescriptionDetails[i].prescription_id%>&prescriptionPatientName=<%=prescriptionDetails[i].name%>" method="post">
            <td><button type="submit">cancel</button></td>
          </form>
        </tr>
      <%}%>
    </table>
    <br>
    <br>
    <!-- CONFIRMED -->
    <table>
      <tr>
        <th>counter</th>
        <th>date</th>
        <th>Patient Type</th>
        <th>Name</th>
        <th>Age</th>
        <th>Medications</th>
        <th>status</th>
      </tr>
      <%for (var i = 0; i < confirmedprescriptionSQL.length; i++) {%>
        <tr>
          <td><%=i+1%></td>
          <td><%=confirmedprescriptionSQL[i].creation_stamp%></td>
          <td><%=confirmedprescriptionSQL[i].patient_type%></td>
          <td><%=confirmedprescriptionSQL[i].name%></td>
          <td><%=confirmedprescriptionSQL[i].age%></td>
          <td><%=confirmedprescriptionSQL[i].medications%></td>
          <td>confirmed</td>
        </tr>
      <%}%>
    </table>

  </body>
</html>
