<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Laboratory</title>
<% include ../partials/header.ejs %>
</head>

<body class="hold-transition skin-blue fixed sidebar-mini">
  <div class="wrapper">

     <header class="main-header">
      <a href="../doctor/dashboard" class="logo">
        <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
        <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
      </a>
      <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="../dist/img/avatar04.png" class="user-image" alt="User Image">
                <span class="hidden-xs"><%= username[0].name %></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
                  <p>
                    <%=username[0].name%> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                    <small>Member since April 2014</small>
                  </p>
                </li>

                <li class="user-footer">
                  <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a href='../logout' class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <aside class="main-sidebar">
      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p><%= username[0].name %></p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
          </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
          </div>
        </form>

        <ul class="sidebar-menu">
          <li><a href="../doctor/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
          <li><a href="../doctor/bedManagement"><i class="fa fa-bed"></i> <span>Bed Management</span></a></li>
          <li><a href="../doctor/patientManagement"><i class="fa fa-users"></i> <span>Patient Management</span></a></li>
          <li><a href="../doctor/outpatientManagement"><i class="fa fa-wheelchair"></i> <span>Outpatient Management</span></a></li>
          <li><a href="../doctor/appointmentManagement"><i class="fa fa-calendar"></i> <span>Appointment Management</span></a></li>
          <li><a href="../doctor/prescriptionManagement"><i class="fa fa-sticky-note"></i> <span>Prescription Management</span></a></li>
          <li class="active"><a href="../doctor/labRequestManagement" target="_self"><i class="fa fa-stethoscope"></i> <span>Lab Request Management</span></a></li>
          <li><a href="../doctor/profileManagement"><i class="fa fa-info"></i> <span>Profile Management</span></a></li>
        </ul>
      </section>
    </aside>

        <div class="content-wrapper">
            <section class="content-header">
              <h1>
                Lab Request Management
                <small>Control panel</small>
              </h1>
          </section>

          <section class="content">
            <div class="row">
             <div class="col-xs-12">
               <div class="box">
                 <div class="box-header">
                 </div>
                 <div class="box-body">
                   <table id="example2" class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th>Counter</th>
                            <th>Patient Type</th>
                            <th>Name</th>
                            <th>Date and Time</th>
                            <th>Age</th>
                            <th>Tests</th>
                            <th>Remarks</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                       </thead>
                       <tbody>
                          <%for (var i = 0; i < labrequestDetails.length; i++) {%>
                            <tr>
                              <td><%=i+1%></td>
                              <td><%=labrequestDetails[i].patient_type%></td>
                              <td><%=labrequestDetails[i].name%></td>
                              <td><%=labrequestDetails[i].timestamp%></td>
                              <td><%=labrequestDetails[i].age%></td>
                              <td><%=labrequestDetails[i].type%></td>
                              <td><%=labrequestDetails[i].remarks%></td>
                              <td><%=labrequestDetails[i].lab_status%></td>
                              <td><button type="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Cancel</button></td>
                            </tr>
                          <%}%>
                       </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
  </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1
    </div>
    <strong>Copyright &copy; 2018.</strong> Philippine Military Academy | Fort Del Pilar Station Hospital | All rights reserved.
  </footer>
  <div class="control-sidebar-bg"></div>
</div>

<!-- jQuery 2.2.3 -->
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="../dist/js/app.min.js"></script>
<!-- DataTables -->
<script src="../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../plugins/fastclick/fastclick.js"></script>
<!-- Select2 -->
<script src="../plugins/select2/select2.full.min.js"></script>

<script>
    $(document).ready(function() {
        $(".select2").select2();
    });
    function ShowAdmit(i){
      document.getElementById('dynamicPatientIdForAdmit').action = '/doctor/outpatientManagement?patient_id='+i+'';
      document.getElementById('ShowAdmit').style.display = 'block';
    }
</script>
<script>
    $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
    });
    });
</script>
</body>
</html>
