<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Outpatient Management</title>
<% include ../partials/header.ejs %>

</head>
  <body class="hold-transition skin-blue fixed sidebar-mini" onload="myFunction()"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <div id="loader"></div> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
<div class="wrapper">
  <header class="main-header">
    <a href="../doctor/dashboard" class="logo">
      <span class="logo-mini"><b><%= username[0].account_type.charAt(0).toUpperCase()%></b></span>
      <span class="logo-lg"><b><%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%></b></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../dist/img/avatar04.png" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= username[0].name %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
                <p>
                  <%=username[0].name%> - <%= username[0].account_type.charAt(0).toUpperCase() + username[0].account_type.slice(1);%>
                  <small>Member since April 2014</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="../doctor/profileManagement" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href='../logout' class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">

    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../dist/img/avatar04.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>
            <%= username[0].name %>
          </p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <ul class="sidebar-menu">
          <li><a href="../doctor/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
          <li><a href="../doctor/bedManagement"><i class="fa fa-bed"></i> <span>Bed Management</span></a></li>
          <li><a href="../doctor/patientManagement"><i class="fa fa-users"></i> <span>Patient Management</span></a></li>
          <li class="active"><a href="../doctor/outpatientManagement" target="_self"><i class="fa fa-wheelchair"></i> <span>Outpatient Management</span></a></li>
          <li><a href="../doctor/appointmentManagement"><i class="fa fa-calendar"></i> <span>Appointment Management</span></a></li>
          <li><a href="../doctor/prescriptionManagement"><i class="fa fa-sticky-note"></i> <span>Prescription Management</span></a></li>
          <li><a href="../doctor/labRequestManagement"><i class="fa fa-stethoscope"></i> <span>Lab Request Management</span></a></li>
          <li><a href="../doctor/profileManagement"><i class="fa fa-info"></i> <span>Profile Management</span></a></li>
      </ul>
    </section>
  </aside>

       <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  id="myDiv1"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
    <section class="content-header">
      <h1>
        Patients
        <small>List of Active Patients</small>
      </h1>
    </section>
        <!-- Main content -->
    <section class="content animate-bottom"> <!------------------------------------ EDIT FOR LOADER ---------------------------------->
       <div class="row">
        <div class="col-xs-12">
          <div class="box">
           <div class="box-header">
              <h3 class="box-title">Outpatient</h3><small>  List of Outpatients</small>
            </div>
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Patient Type</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Vital Signs</th>
                    <th>Initial Assessment</th>
                    <th>Bed</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <%for (var i = 0; i < opdInfo.length; i++) {%>
                  <tr>
                      <td><%=opdInfo[i].patient_type%></td>
                      <td><%=opdInfo[i].name%></td>
                      <td><%=opdInfo[i].age%></td>
                      <td><%=opdInfo[i].sex%></td>
                      <td style="font-size:10px;">
                        <%
                          var vitals = opdInfo[i].vital_signs.split('\n');
                          for(var l=0; l < 7; l++){ %>
                            <%=vitals[l]%><br>
                        <%}%>
                      </td>
                      <td><%=opdInfo[i].assessment%></td>
                      <%
                      var bedArr= '';
                        for (var j = 0; j < whoCurrentlyAdmittedV2.length; j++){
                          bedArr += whoCurrentlyAdmittedV2[j].patient_id;
                        }
                      if(bedArr.includes(opdInfo[i].patient_id)){%>
                        <td><%= whoCurrentlyAdmittedV2[i].bed_id%><a href="/doctor/bedManagement?bed_id=<%=whoCurrentlyAdmittedV2[i].bed_id%>" style="font-size:10px;">-details</a></td>
                      <%} else {%>
                        <td></td>
                      <%}%>
                      <td>
                        <!-- VIEW -->
                        <a href="../doctor/patientManagement?patient=<%=opdInfo[i].patient_id%>"><button class="btn btn-primary btn-sm" name="view">View</button></a>
                        <!-- LAB -->
                        <%
                        var labArr= '';
                          for (var j = 0; j < labSQL.length; j++){
                            labArr += labSQL[j].patient_id;
                          }
                        if(labArr.includes(opdInfo[i].patient_id)){%>
                          <a data-toggle="modal">
                            <input class="btn btn-primary btn-sm" type="button" value="Lab Request" name="lab_request" style="color:blue" data-toggle="modal" data-target="#labRequest2" onclick="ShowLabRequest2(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>)">
                          </a>
                        <%} else {%>
                          <a data-toggle="modal">
                            <input class="btn btn-primary btn-sm" type="button" value="Lab Request" name="lab_request" data-toggle="modal" data-target="#labRequest" onclick="ShowLabRequest(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>)">
                          </a>
                        <%}%>
                        <!-- PRESCRIPTION -->
                        <%
                        var prescribeArr= '';
                          for (var j = 0; j < prescribeSQL.length; j++){
                            prescribeArr += prescribeSQL[j].patient_id;
                          }
                        if(prescribeArr.includes(opdInfo[i].patient_id)){%>
                          <input class="btn btn-primary btn-sm" type="button" name="prescribe" style="color:blue" value="Prescription" data-toggle="modal" data-target="prescribe2" onclick="ShowPrescribe2(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>)" >
                        <%} else {%>
                          <input class="btn btn-primary btn-sm" type="button" name="prescribe" value="Prescription" data-toggle="modal" data-target="#prescribe" onclick="ShowPrescribe(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>)">
                        <%}%>
                        <!-- DIAGNOSIS -->
                        <button class="btn btn-primary btn-sm" class="btn btn-primary btn-sm" name="button" data-toggle="modal" data-target="#diagnosis" onclick="ShowDiagnosis(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>)">Diagnosis</button>

                        <!-- ADMIT -->
                        <% var arr= '';
                          for (var j = 0; j < whoCurrentlyAdmittedV2.length; j++){
                            arr += whoCurrentlyAdmittedV2[j].patient_id;
                          } if(!(arr.includes(opdInfo[i].patient_id))){%>

                            <button class="btn btn-primary btn-sm" type="button" name="admit" value="Admit" data-toggle="modal" data-target="#admit" onclick="ShowAdmit(<%=opdInfo[i].patient_id%>,<%=JSON.stringify(opdInfo[i].name)%>)">Admit</button>

                        <%}%>
                        <!-- LAB REQUEST TABLE VIEW -->
                      </td>
                  </tr>
                <%}%>
              </table>
          </div>
        </div>
          <div class="box">
          <div class="box-header">
              <h3 class="box-title">Ward/Admitted Patients</h3><small>  List of In-patients</small>
            </div>
            <div class="box-body">
              <table id="example2" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Patient Type</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Vital Signs</th>
                    <th>Initial Assessment</th>
                    <th>Bed</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <%for (var i = 0; i < currentlyAdmitted.length; i++) {%>
                  <tr>
                      <td><%=currentlyAdmitted[i].patient_type%></td>
                      <td><%=currentlyAdmitted[i].name%></td>
                      <td><%=currentlyAdmitted[i].age%></td>
                      <td><%=currentlyAdmitted[i].sex%></td>
                      <td style="font-size:10px;">
                        <%
                          var vitals = currentlyAdmitted[i].vital_signs.split('\n');
                          for(var l=0; l < 7; l++){ %>
                            <%=vitals[l]%><br>
                        <%}%>
                      </td>
                      <td><%=currentlyAdmitted[i].assessment%></td>
                        <td><%= currentlyAdmitted[i].bed_id%><a href="/doctor/bedManagement?bed_id=<%=currentlyAdmitted[i].bed_id%>" style="font-size:10px;">-details</a></td>
                      <td>
                        <!-- VIEW -->
                        <a href="../doctor/patientManagement?patient=<%=currentlyAdmitted[i].patient_id%>"><button class="btn btn-primary btn-sm" name="view">View</button></a>
                        <!-- LAB -->
                        <%
                        var labArr= '';
                          for (var j = 0; j < labSQL.length; j++){
                            labArr += labSQL[j].patient_id;
                          }
                        if(labArr.includes(currentlyAdmitted[i].patient_id)){%>
                          <a data-toggle="modal">
                            <input class="btn btn-primary btn-sm" type="button" value="Lab Request" name="lab_request" style="color:blue" data-toggle="modal" data-target="#labRequest2" onclick="ShowLabRequest2(<%=currentlyAdmitted[i].patient_id%>,<%=JSON.stringify(currentlyAdmitted[i].name)%>)">
                          </a>
                        <%} else {%>
                          <a data-toggle="modal">
                            <input class="btn btn-primary btn-sm" type="button" value="Lab Request" name="lab_request" data-toggle="modal" data-target="#labRequest" onclick="ShowLabRequest(<%=currentlyAdmitted[i].patient_id%>,<%=JSON.stringify(currentlyAdmitted[i].name)%>)">
                          </a>
                        <%}%>
                        <!-- PRESCRIPTION -->
                        <%
                        var prescribeArr= '';
                          for (var j = 0; j < prescribeSQL.length; j++){
                            prescribeArr += prescribeSQL[j].patient_id;
                          }
                        if(prescribeArr.includes(currentlyAdmitted[i].patient_id)){%>
                          <input class="btn btn-primary btn-sm" type="button" name="prescribe" style="color:blue" value="Prescription" data-toggle="modal" data-target="prescribe2" onclick="ShowPrescribe2(<%=currentlyAdmitted[i].patient_id%>,<%=JSON.stringify(currentlyAdmitted[i].name)%>)" >
                        <%} else {%>
                          <input class="btn btn-primary btn-sm" type="button" name="prescribe" value="Prescription" data-toggle="modal" data-target="#prescribe" onclick="ShowPrescribe(<%=currentlyAdmitted[i].patient_id%>,<%=JSON.stringify(currentlyAdmitted[i].name)%>)">
                        <%}%>
                        <!-- DIAGNOSIS -->
                        <button class="btn btn-primary btn-sm" class="btn btn-primary btn-sm" name="button" data-toggle="modal" data-target="#diagnosis" onclick="ShowDiagnosis(<%=currentlyAdmitted[i].patient_id%>,<%=JSON.stringify(currentlyAdmitted[i].name)%>)">Diagnosis</button>
                        <!-- DISCHARGE BUTTON -->
                      <form action="/doctor/bedManagement?bed=<%= currentlyAdmitted[i].bed_id%>" method="POST" style="display: inline-block;">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-sign-out"></i> Discharge</button>
                      </form>
                      </td>
                  </tr>
                <%}%>
              </table>
          </div>
        </div>
      </div>

      <!-- LAB REQUEST -->
      <div class="modal fade" id="labRequest" role="dialog" aria-labelledby="labRequestlabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labRequestlabel">Lab Request</h4>
            </div>
            <div class="modal-body">
              <div>
                <form class="form-horizontal" id="dynamicPatientIdForLab" method="post">
                  <label for="testRequest" class="col-sm-2 control-label">Test Type:</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="testRequest">
                      <option value="Blood Chemistry">Blood Chemistry</option>
                      <option value="Hematology">Hematology</option>
                      <option value="Microscopy">Microscopy</option>
                      <option value="Parasitology">Parasitology</option>
                      <option value="Serotology">Serotology</option>
                      <option value="Microbiology">Microbiology</option>
                      <option value="X-Ray">X-Ray</option>
                    </select>
                  </div>
                  <br>
                  <br>
                  <textarea name="labRequestremarks" class="form-control" rows="8" cols="80"></textarea>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="sub" value="labRequest">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ADMIT  -->
      <div class="modal fade" id="admit" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Admission</h4>
            </div>
            <div class="modal-body">
              <form id="dynamicPatientIdForAdmit" class="form-horizontal" method="post" onsubmit="successAlert()">
                <div class="form-group">
                  <label for="quantity" class="col-sm-2 control-label">Available Beds:</label>
                  <div class="col-sm-10">
                    <select name="bedNumber">
                      <%for (var i = 0; i < admitAvailableBeds.length; i++) { %>
                        <option value="<%= admitAvailableBeds[i].bed_id%>"><%= admitAvailableBeds[i].bed_id%></option>
                      <%}%>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="sub" value="admit">Admit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- PRESCRIBE -->
      <div class="modal fade" id="prescribe" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Prescription</h4>
            </div>
            <div class="modal-body">
              <form id="dynamicPatientIdForPrescribe" class="form-horizontal" method="post" onsubmit="successAlert()">
                <div class="form-group">
                  <label for="medicine" class="col-sm-2 control-label">Medicine</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="medicine" name="medicine">
                  </div>
                </div>

                <div class="form-group">
                  <label for="quantity" class="col-sm-2 control-label">Quantity</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="quantity" name="quantity">
                  </div>
                </div>

                <div class="form-group">
                  <label for="dosage" class="col-sm-2 control-label">Dosage</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="dosage" name="dosage">
                  </div>
                </div>

                <div class="form-group">
                  <label for="timeframe" class="col-sm-2 control-label">Timeframe</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="timeframe" name="timeframe">
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="sub" value="prescribe">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="labRequest2" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Lab Request</h4>
            </div>
            <div class="modal-body">
              <form id="labViewPressed" class="form-horizontal" method="post" onsubmit="successAlert()">
                <label for="testRequest" class="col-sm-2 control-label">Test Type:</label>
                <div class="col-sm-10">
                  <select class="form-control" name="testRequest">
                    <option value="Blood Chemistry">Blood Chemistry</option>
                    <option value="Hematology">Hematology</option>
                    <option value="Microscopy">Microscopy</option>
                    <option value="Parasitology">Parasitology</option>
                    <option value="Serotology">Serotology</option>
                    <option value="Microbiology">Microbiology</option>
                    <option value="X-Ray">X-Ray</option>
                  </select>
                </div>
                <br>
                <br>
                  <textarea name="labRequestremarks" class="form-control" rows="8" cols="80"></textarea>
                  <div class="modal-footer">
                    <a id="linkForLabView"><button id="labViewPressed" type="button" class="btn btn-default">View</button><a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="labAdd" type="submit" class="btn btn-primary" name="sub" value="labRequest">Add</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="prescribe2" style="display:none;">
          <a id="linkForPrescribeView"><button id="prescribeViewPressed">view</button></a>
          <button id="prescribeAdd">add</button>
      </div>

      <div class="modal fade" id="diagnosis" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Diagnosis</h4>
            </div>
            <div class="modal-body">
              <form id="linkDiagnosis" class="form-group" method="post" onsubmit="successAlert()">
                <textarea name="diagnosis" class="form-control" rows="8" cols="80"></textarea>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="sub" value="prescribe">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

<% include ../partials/footer.ejs %>

<script src="/notif-doctor.js"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable();
  });
  function ShowLabRequest(i,o){
    document.getElementById('dynamicPatientIdForLab').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'"';
    document.getElementById('ShowLabRequest').style.display = 'block';
  }
  function ShowLabRequest2(i,o){
    document.getElementById('labAdd').onclick = function() {
      document.getElementById('ShowLabRequest').style.display = 'block';
      document.getElementById('ShowLabRequest2').style.display = 'none';
      ShowLabRequest(i,o);
    };
    document.getElementById('labViewPressed').onclick = function() {
      document.getElementById('linkForLabView').href = "/doctor/labRequestManagement?labPatientInfo="+i+"";
    };
    document.getElementById('ShowLabRequest2').style.display = 'block';
    document.getElementById('ShowLabRequest').style.display = 'none';
  }

  function ShowPrescribe(i,o){
    document.getElementById('dynamicPatientIdForPrescribe').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'';
    document.getElementById('ShowPrescribe').style.display = 'block';
  }
  function ShowPrescribe2(i,o){
    document.getElementById('prescribeAdd').onclick = function() {
      document.getElementById('ShowPrescribe').style.display = 'block';
      document.getElementById('ShowPrescribe2').style.display = 'none';
      ShowPrescribe(i,o);
    };
    document.getElementById('prescribeViewPressed').onclick = function() {
      document.getElementById('linkForPrescribeView').href = "/doctor/prescriptionManagement?opdPatient="+i+"";
    };
    document.getElementById('ShowPrescribe2').style.display = 'block';
    document.getElementById('ShowPrescribe').style.display = 'none';
  }
  function ShowAdmit(i,o){
    document.getElementById('dynamicPatientIdForAdmit').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'';
    document.getElementById('ShowAdmit').style.display = 'block';
  }
  function ShowDiagnosis(i,o){
    document.getElementById('ShowDiagnosis').style.display = 'block';
    document.getElementById('linkDiagnosis').action = '/doctor/outpatientManagement?patient_id='+i+'&patient_name='+o+'';
  }
</script>
</body>
</html>
