<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ../partials/header.ejs%>
    <script src="/notif-pharm.js"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <nav>
      <a href="../pharmacist/dashboard">dashboard</a><br>
      <a href="../pharmacist/prescriptionManagement">prescriptionManagement</a><br>
      <a href="../pharmacist/patientManagement">patientManagement</a><br>
      <a href="../pharmacist/profileManagement">profile</a> <br>
      <a href="../pharmacist/reports">reports</a>
    </nav>
    <br>
    <br>
    <button type="button"><a href="../pharmacist/prescriptionManagement">more info</a></button>Patients with medication = <%= prescriptionInfo.length%><br>
    <button type="button">more info</button>Accepted Request = <%= accepted.length%><br>
    <button type="button"><a href="../pharmacist/prescriptionManagement">more info</a></button>Pending Request = <%= pending.length%>

    <!-- TODOLIST -->
    <h1>TO DO LIST</h1>
    <button type="button" name="button" onclick="showTodo()">add item</button>
    <br>
    <%for(var i=0; i < todoList.length; i++){%>
        <h3 style="display:inline-block;"><%= todoList[i].description%>:</h3> <h5 style="display:inline-block; font-style:italic;"><%= todoList[i].date%></h5>
        <br>
    <%}%>
    <form method="POST" name="parseDateNTime()">
      <div id="showTodo" style="display:none;">
        <textarea name="description" rows="8" cols="80"></textarea>
        <br>
        <input type="datetime-local" name="dateNtime">
        <button type="submit" name="sub" value="addTodo">save</button>
      </div>
    </form>

    <!-- COUNT MONTHLY -->
    <h1>Patient Count</h1>
    <%if(monthlyPatientCount[0].JAN) {%><h2>january <%= monthlyPatientCount[0].JAN%></h2><%}%>
    <%if(monthlyPatientCount[0].FEB) {%><h2>february <%= monthlyPatientCount[0].FEB%></h2><%}%>
    <%if(monthlyPatientCount[0].MARCH) {%><h2>february <%= monthlyPatientCount[0].MARCH%></h2><%}%>
    <%if(monthlyPatientCount[0].APRIL) {%><h2>february <%= monthlyPatientCount[0].APRIL%></h2><%}%>
    <%if(monthlyPatientCount[0].MAY) {%><h2>february <%= monthlyPatientCount[0].MAY%></h2><%}%>
    <%if(monthlyPatientCount[0].JUNE) {%><h2>february <%= monthlyPatientCount[0].JUNE%></h2><%}%>
    <%if(monthlyPatientCount[0].JULY) {%><h2>february <%= monthlyPatientCount[0].JULY%></h2><%}%>
    <%if(monthlyPatientCount[0].AUGUST) {%><h2>february <%= monthlyPatientCount[0].AUGUST%></h2><%}%>
    <%if(monthlyPatientCount[0].SEPTEMBER) {%><h2>february <%= monthlyPatientCount[0].SEPTEMBER%></h2><%}%>
    <%if(monthlyPatientCount[0].OCTOBER) {%><h2>february <%= monthlyPatientCount[0].OCTOBER%></h2><%}%>
    <%if(monthlyPatientCount[0].NOVEMBER) {%><h2>february <%= monthlyPatientCount[0].NOVEMBER%></h2><%}%>
    <%if(monthlyPatientCount[0].DECEMBER) {%><h2>february <%= monthlyPatientCount[0].DECEMBER%></h2><%}%>
    <br>

    <button type="button"><a href="../logout">LOGOUT</a></button>

  </body>
</html>
<script>
  function showTodo() {
    document.getElementById("showTodo").style.display = "block";
  }
</script>
