<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ../partials/header.ejs%>
    <script src="/notif-pharm.js"></script>

    <title>Prescription Management</title>
    <style media="screen">
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="../pharmacist/dashboard">dashboard</a><br>
      <a href="../pharmacist/prescriptionManagement">prescriptionManagement</a><br>
      <a href="../pharmacist/patientManagement">patientManagement</a><br>
      <a href="../pharmacist/profileManagement">profile</a> <br>
      <a href="../pharmacist/reports">reports</a>
    </nav>
    <table>
      <tr>
        <th>counter</th>
        <th>date</th>
        <th>Patient Type</th>
        <th>Name</th>
        <th>Age</th>
        <th>Medications</th>
        <th>action</th>
      </tr>
      <%for (var i = 0; i < prescriptionDetails.length; i++) {%>
        <tr>
          <td><%=i+1%></td>
          <td><%=prescriptionDetails[i].creation_stamp%></td>
          <td><%=prescriptionDetails[i].patient_type%></td>
          <td><%=prescriptionDetails[i].name%></td>
          <td><%=prescriptionDetails[i].age%></td>
          <td><%=prescriptionDetails[i].medications%></td>
          <form action="/pharmacist/prescriptionManagement?prescriptionId=<%=prescriptionDetails[i].prescription_id%>&prescriptionPatientName=<%=prescriptionDetails[i].name%>" method="post">
            <td>
              <button name="sub" value="confirm" type="submit">Confirm</button>
              <button name="sub" value="cancel" type="submit">Cancel</button>
            </td>
          </form>
        </tr>
      <%}%>
    </table>
    <br>
    <br>
    <!-- CONFIRMED -->
    <table>
      <tr>
        <th>counter</th>
        <th>date</th>
        <th>Patient Type</th>
        <th>Name</th>
        <th>Age</th>
        <th>Medications</th>
        <th>status</th>
      </tr>
      <%for (var i = 0; i < confirmedprescriptionSQL.length; i++) {%>
        <tr>
          <td><%=i+1%></td>
          <td><%=confirmedprescriptionSQL[i].creation_stamp%></td>
          <td><%=confirmedprescriptionSQL[i].patient_type%></td>
          <td><%=confirmedprescriptionSQL[i].name%></td>
          <td><%=confirmedprescriptionSQL[i].age%></td>
          <td><%=confirmedprescriptionSQL[i].medications%></td>
          <td>confirmed</td>
        </tr>
      <%}%>
    </table>

  </body>
</html>
