<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%include ../partials/header.ejs%>
    <script src="/notif-nurse.js"></script>

    <title>Patient Management</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
      </style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <a href="../nurse/dashboard">dashboard</a><br>
    <a href="../nurse/bedManagement">bedManagement</a><br>
    <a href="../nurse/patientManagement">patientManagement</a><br>
    <a href="../nurse/profileManagement">profile</a>
    <h1>Welcome to Patient Management Nurse. <%= username[0].name %> !! <button><a href='../logout'>logout</a></button></h1>
    <table>
      <tr>
          <th>Patient Type</th>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Blood Type</th>
          <th>Previous Medicine taken</th>
          <th>Previous Confinement Period</th>
          <th>action</th>
      </tr>
      <%
      for(var i=0; i <p.length; i++){
          var b = new Date(p[i].birth_date);
      %>
      <tr>
        <td><%= p[i].patient_type %></td>
        <td><%= p[i].name %></td>
        <td><%= p[i].age %></td>
        <td><%= p[i].sex %></td>
        <td><%= p[i].blood_type %></td>
        <td style="font-size:10px;">
          <table>
            <tr>
              <th>med</th>
              <th>Quantity</th>
              <th>Dosage</th>
              <th>Time Frame</th>
            </tr>
          <% if(p[i].medicine != null){
            var medicine = p[i].medicine.split('\n');
              for(var l=0; l < medicine.length-1; l++){ %>
                  <tr>
                    <%var parseMed = medicine[l].split(',');%>
                    <td><%= parseMed[0]%></td>
                    <td><%= parseMed[1]%></td>
                    <td><%= parseMed[2]%></td>
                    <td><%= parseMed[3]%></td>
                  </tr>
            <%}
          }%>
          </table>
        </td>
        <td><%= p[i].allotment%> - <%= p[i].discharge%></td>

        <td><button type="button" name="button" onclick="PasswordInput(<%= p[i].patient_id %>)">view</button></td>
      </tr>
      <%}%>
    </table>

    <%if(p2){%>
      <br>
      <h2>Ito dapat modal lang din, lagyan nyu nalang ng exit na button</h2>
      <a href="/nurse/patientManagement"><button type="button" name="button">exit</button></a>
      <br>
          <%- messages('message', locals) %>
      <form id="dynamicEditProfPatientLink" method="post">
        <%
        for(var i=0; i <p2.length; i++){
            var b = new Date(p2[i].birth_date);
        %>
          type
          <select name="patientType">
            <option selected value="<%= p2[i].patient_type %>"><%= p2[i].patient_type %></option>
            <%if(p2[i].patient_type != 'civilian'){%>
            <option value="civilian" >civilian</option>
            <%} if(p2[i].patient_type != 'military officer'){%>
            <option value="military officer">military officer</option>
            <%} if(p2[i].patient_type != 'military dependent'){%>
            <option value="military dependent">military dependent</option>
            <%} if(p2[i].patient_type != 'cadet'){%>
            <option value="cadet">cadet</option>
            <%} if(p2[i].patient_type != 'authorized civilian'){%>
            <option value="authorized civilian">authorized civilian</option>
            <%}%>
          </select>
          <br>
          name<input type="text" name="name" value="<%= p2[i].name %>"></input><br>
          unit<input type="text" name="unit" value="<%= p2[i].unit %>"></input><br>
          status<select name="status">
            <option selected value="<%= p2[i].status %>"><%= p2[i].status %></option>
            <%if(p2[i].status != 'Single'){%>
            <option value="Single">single</option>
            <%}if(p2[i].status != 'Maried'){%>
            <option value="Maried">maried</option>
            <%}%>
          </select>
<br>
                address<input type="text" name="address" value="<%= p2[i].address %>"></input>
<br>
                    religion<input type="text" name="religion" value="<%= p2[i].religion %>"></input>
<br>
                    blood type<input type="text" name="bloodType" value="<%= p2[i].blood_type %>"></input>
<br>
                    allergies<input type="text" name="allergies" value="<%= p2[i].allergies %>"></input>
<br>
                    father<input type="text" name="father" value="<%= p2[i].father %>"></input>
<br>
                    mother<input type="text" name="mother" value="<%= p2[i].mother %>"></input>
<br>
                    birth histo<input type="text" name="birthHistory" value="<%= p2[i].birth_history %>"></input>
<br>
                    rank or SN<input type="text" name="rank" value="<%= p2[i].rankORsn %>"></input>
<br>
                    immu<input type="text" name="immunization" value="<%= p2[i].immunization %>"></input>
<br>  
                    family hsto<input type="text" name="familyHistory" value="<%= p2[i].family_history %>"></input>
        <button type="submit" name="sub" value="changeInfo" onclick="dynaPatientInfo(<%= p2[i].patient_id%>)">enter</button>
      </form>
        
        <%}%>
      <%
      for(var i=0; i <med.length; i++){
      %>
      <br><%= med[i].date_stamp%>
      <table>
        <tr>
          <!-- <th></th> -->
          <th>diagnosis</th>
          <th>medicine</th>
          <th>lab</th>
          <th>bed</th>
        </tr>
        <tr>
          <td><%= med[i].diagnosis%></td>
          <td><%= med[i].medicine%></td>
          <td><%= med[i].lab%></td>
          <td><%= med[i].bed%></td>
        </tr>
      </table>
      <%}%>
    <%}%>


    <!-- PASSWORD -->
    <div id="PasswordInput" style="display:none">
      <form id="dynamicActionPassword" method="post">
        Password: <input type="password" name="patientPassword">
        <button type="submit" name="sub" value="pass">enter</button>
      </form>
    </div>
  </body>
</html>
<script type="text/javascript">
<%if(invalid){%>
  alert('invalid password');
  $(document).ready(function(){
    $("#PasswordInput").show();
  });
<%}%>
  function PasswordInput(id){
    document.getElementById('PasswordInput').style.display = 'block';
    document.getElementById('dynamicActionPassword').action = '/nurse/patientManagement?passPatient='+id+'';
  }
  function dynaPatientInfo(id){
  document.getElementById('dynamicEditProfPatientLink').action = '/nurse/patientManagement?patient_id='+id+''; 
  }
</script>
